aiohttp==2.0.5
aiohttp-jinja2==0.13.0
aiopg==0.13.0
apipkg==1.4
appdirs==1.4.3
async-timeout==1.2.0
chardet==2.3.0
execnet==1.4.1
gunicorn==19.7.1
Jinja2==2.9.5
MarkupSafe==1.0
multidict==2.1.4
packaging==16.8
psycopg2==2.7.1
py==1.4.33
pyparsing==2.2.0
PyYAML==3.12
six==1.10.0
SQLAlchemy==1.1.8
SQLAlchemy-Utils==0.32.14
tox==2.7.0
yarl==0.10.0
