aiohttp==2.0.5
aiohttp-jinja2==0.13.0
aiopg==0.13.0
apipkg==1.4
appdirs==1.4.3
async-timeout==1.2.0
chardet==2.3.0
execnet==1.4.1
gunicorn==19.7.1
Jinja2==2.9.5
MarkupSafe==1.0
multidict==2.1.4
packaging==16.8
pep8==1.7.0
psycopg2==2.7.1
py==1.4.33
pyparsing==2.2.0
pytest==3.0.7
pytest-aiohttp==0.1.3
pytest-cache==1.0
pytest-pep8==1.0.6
PyYAML==3.12
six==1.10.0
SQLAlchemy==1.1.8
yarl==0.10.0
