
{% extends "base.html" %}
{% block title %}Questions List{% endblock %}

{% block content %}
<table class="col-lg-12">
    <thead id="head">
        <tr>
            <td class="col-md-1 col-xs-3">
                ID
            </td>
            <td class="col-md-1 col-xs-3">
                Question Text
            </td>
            <td class="col-md-1 col-xs-3">
                Publication Date
            </td>
        </tr>
    </thead>
    <tbody>
        {% for rec in questions %}
            <tr>
                <td>{{ rec.id }}</td>
                <td>{{ rec.question_text }}</td>
                <td>{{ rec.pub_date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}